*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  padding-bottom: 20px;
  background-color: #F2E8CF;
  text-align: center;
}
/* Header */

header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  background-color: #386641;
  align-items: center;
}

header h3{
  font-size: 20pt;
  font-family: cursive;
}

header nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: right;
  font-size: 15pt;
  font-family: 'Times New Roman', Times, serif;
  
}

header nav a:hover{
  color: #A7C957;
  transition: ease-in-out 0.5s;
  
}

a{
  text-decoration: none;
  color: #F2E8CF;
  font-weight: bold;
  text-shadow: 1px 1px 5px #A7C957;
}

.img-logo img{
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: auto;
}

/* Home */

.main-div{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  width: 70%;
}

.main-div h2{
  width: 100%;
  margin: 10px 0px;
  background-color: #344e41;
  color: #F2E8CF;
}

.character-box{
  background-color: #a3b18a;
  color: black;
  border-radius: 10px;
  margin: 10px 0px;
  width: fit-content;
}

.characters-home{
  width: 100%;
  display: grid;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  grid-column-gap: 50px;
  margin: 20px 0px;
}

.location-home{
  width: 100%;
  display: grid;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: left;
  grid-column-gap: 50px;
  align-items: center;
  margin: 20px 0px;

}

.episode-home{
  width: 100%;
  display: grid;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-column-gap: 50px;
  margin: 20px 0px;
}

/* Location */

.card-location{
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  height: 95%;
  margin: 10px 0px;
  background-color: #a3b18a;
  color: black;

}

.box-location{
  width: 70%;
  display: grid;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-column-gap: 50px;
  margin: auto;
}

/* Episode */

.episode{
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px; 
  width: 50%;
  height: 350px;
  margin: 100px ;
  margin-left: 25%;
  background-color: #386641;
  color: #F2E8CF;
}

.card-episode{
  border-radius: 10px;
  padding: 30px;
  width: 300px;
  height: 95%;
  margin: 5px 0px;
  background-color: #a3b18a;
  color: black;
}

.episode-info{
  padding: 75px 0px;
  font-size: 30px;
  font-weight: lighter;
}

.box-episode{
  width: 70%;
  display: grid;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-column-gap: 50px;
  margin: auto;
}



/* Character */

.card{
  width: 70%;
  display: grid;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-column-gap: 50px;
  margin: auto;
}

.card-character{
  width: 70%;
  display: grid;
  align-content: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-column-gap: 50px;
  margin: auto;
}

.info-character{
  margin: 0px 0px 5px 0px;
  background-color: #a3b18a
}

.character-page{
  padding-top: 50px;
  height: 580px;
  background-color: #d8bcb5;
}

.character-page h1{
  padding: 5px 0px;
}

.img-api img{
  cursor: pointer;
}
/* Search */

.search{
  height: fit-content;
}

.search input{
  width: 200px;
  height: 20px;
  border-radius: 10px;
  border: none;
  margin: 15px;
}

/* Buttons */
.button{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0px;
  width: 100%;
  height: 100%;
}

.button img{
  width: 30px;
}

.page-buttons button{
  width: 100px;
  height: 50px;
  border: 1px solid #392c21;
  background-color: #d8bcb5;
  margin: 5px;
  cursor: pointer;
  border-radius: 50px;
}
.page-buttons button:hover{
  background-color: #f9bf1e;
  border: none;
}

/* FOOTER */
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0px 0px 0px 0px;
  background-color: #BC4749;
  margin: auto;
  margin-top: 10px 0px;
  color: #F2E8CF;
}